<h1>WELCOME TO ZOMBIE SURVIVAL GUIDE</h1>

<!-- <!-- link to internal style sheet -->
<!-- <link rel="stylesheet" href="stylesheets/scaffold.css.scss"> -->

<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

<!-- <link rel="javascript" href="javascripts/map.js"> -->

<form>
<input class="zipcode" type="text" value = "" pattern="\d*">
</form>

<nav id='filters' class='filter-ui'></nav>
<div id='map'></div>
<!--  -->



<p><%= link_to("Logout Here", controller: 'access', action: 'logout') %></p>

