<!-- link to internal style sheet -->
<!-- <link rel="stylesheet" href="stylesheets/scaffold.css.scss"> -->

<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

<!-- <link rel="javascript" href="javascripts/map.js"> -->

<input type="hidden" id="user-url" value="<%= '/users/' + params[:id].to_s + '/locations' %>" />


<nav id='filters' class='filter-ui'></nav>
<div id='map'></div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>