/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(//fonts.googleapis.com/css?family=Poiret+One);

 body {
 	/*background-color: rgba(0,0,0,0.9);*/
 	background: url('https://s3.amazonaws.com/uploads.hipchat.com/39979/1240676/et9CSybKP7QlU6g/backg.jpg') no-repeat center center fixed;
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
 	color: white;
 	font-family: 'Poiret One', cursive;
 	font-size: 20px;
 }

 h1, h2, h3, h4, h5 {
 	font-family: 'Poiret One', cursive;
 	text-shadow: 1px 1px 1px #000;
 }

 p {
 	font-family: 'Poiret One', cursive;
 	font-size: 20px;
 	line-height: 1.5;
 }

 .intro {
 	font-family: 'Poiret One', cursive;
 	font-size: 25px;
 	line-height: 1.5;
 	font-weight:bold;
 	text-shadow: 2px 2px 2px #000;
 	padding-bottom: 20px;
 }

 .intro_header {
 	font-weight: bold;
 	text-shadow: 2px 2px 2px #000;
 	padding-bottom: 20px;
 }

 .guide {
 	padding-top: 30px;

	font-size: 25px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #000
 }

 .title {
 	font-size: 35px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #000

 }

 .links {
 	font-size: 15px;
 }

 #forgot {
 	color: white;
 	text-decoration: none;
 }

 input[type=text] {
 	background: transparent;
 	color: white;
 	border: none;
 	border-bottom: 2px solid #fff;
 }

 .adderbtn {
 	text-align: center;
 	padding: 10px;
 }

 .zombielogo {
 	fill:white;

 }

 .thumbnail, .navbar {
 	background: none
 }


.thumbnail {
 	height: 500px;
 }

.savelife {
	font-size:30px;
}

 .btn {
 	border: 2px solid #fff;
 	border-radius: 0;
 	text-decoration: none;
 	background: none;
 	color: white;
 	font-family: 'Poiret One';
 	font-size: 16px;
 	font-weight: bold;
 }

 .navbar{
 	border-radius: 0px;
 	border-left: 0px;
 	border-right: 0px;
 	border-top: 0px;

 }

 .navbar-default .navbar-nav > li > a {
 	color: white;
 	text-shadow: 1px 1px 1px #000;
 }

 .navbar-default .navbar-nav > li > a:hover {
 	color: red;
 }

 .navbar-default .navbar-brand {
 	color: white;
 	font-size: 20px;
 	text-shadow: 1px 1px 1px #000;
 }



 table{
 	background-color: rgba(255,255,255,0.2);
 }

 tr, td{
 	margin:10px;
 	padding: 10px;
 }
 button {
 	border: 2px solid #fff;
 	border-radius: none;
 	border-color: white;
 	text-decoration: none;
 	font-family: 'Poiret One', cursive;
 	margin: 5px;
 	background:none;
 	color:white;
 }

#filters div button {
 	border: 2px solid #fff;
 	border-radius: none;
 	border-color: black;
 	text-decoration: none;
 	font-family: 'Poiret One', cursive;
 	margin: 5px;
 	background:none;
 	color:black;
 }



 .btn:hover {
 	border: 2px solid #fff;
 	border-radius: 0;
 	background: none;
 	color:white;
 }

 input[type=search] {
 	background: transparent;
 	border: none;
 	border-bottom: 2px solid #fff;
 	font-size: 20px;
 	color: white;
 }

 .smallpic {
 	opacity: 1;
 }

 p, ul{
 	color:white;
 }

 *:focus {
 	outline: 0 !important;
 }


 input[type=password] {
 	background: transparent;
 	border: none;
 	border-bottom: 2px solid #fff;
 	font-size: 20px;
 	color: white;
 }

 .modal-dialog {
 	width: 300px; /* your width */
 }

 .modal-content {
 	padding:9px 15px;
 	border-bottom:1px solid #eee;
 	background-color: rgba(192, 57, 43,0.7);
 	opacity: 0.9;
 	border-top-left-radius: 0px;
 	border-top-right-radius: 0px;
 }

 .modal-header, .modal-body, .modal-footer {
 	border: none;
 }

 .close {
 	color:white;
 	font-size: 20px;
 }

 .control-label {
 	outline: 0;
 	border: 0px;
 }

 .leaflet-control-mapbox-geocoder-form input[type=text] {
 	color:black;
 	font-family: 'Poiret One', cursive;
 }

 .leaflet-control-mapbox-geocoder-form {
 	font-size: 20px;
 }


 .leaflet-popup-content {
 	background-color: rgba(0,0,0,0.9);
 	border-radius: 0;
 	border: black solid 2px;
 	font-family: 'Poiret One', cursive;
 }

 .leaflet-popup-content div a {
 	font-size: 25px;
 	color:white;
 }

 .leaflet-popup {
 	background-color: rgba(0,0,0,0.9);
 	border: black solid 2px;
 	border-radius: 10px;
 	font-family: 'Poiret One', cursive;
 	text-align: center;
 	border:none;
 }

.leaflet-popup a{
	right: -20px;
}

 .leaflet-popup-tip-container {
 	display: none;
 }



 .leaflet-bar a {
 	display: none;
 }

#filters{
	border-radius: 0px;
}

 .login input[type=text] {
 	background: transparent;
 	color: white;
 	font-size: 16px;
 	font-weight: 400;
 	padding: 4px;
 	outline: 0;
 }

 .login input[type=password] {
 	background: transparent;
 	font-size: 16px;
 	font-weight: bold;
 	padding: 4px;
 	margin-top: 10px;
 	outline: 0;
 }

 .login input[type=button] {
 	background: #fff;
 	border: 1px solid #fff;
 	cursor: pointer;
 	color: #a18d6c;
 	font-size: 16px;
 	font-weight: 400;
 	padding: 6px;
 	margin-top: 10px;
 }

 .login input[type=button]:focus {
 	outline: none;
 }

